@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: rgba(25, 220, 106, 0.45);
    width: 80vw;
    height: 90vh;
    padding: 0.1em 2em 0.2em;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

h1 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.desciption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.yellow_line {
    background: #FFB425;
    width: 9em;
    height: 0.4em;
    margin: 20px 0 5px;
}

p {
    font-size: 10px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    font-style: normal;
}

.first,
.second {
    margin-bottom: 20px;
}

.third {
    margin-bottom: 10px;
}

input {
    width: 70%;
    background-color: #4CA772;
    font-size: 0.9em;
    padding: 1em;
    font-weight: 700;
    border-radius: 7px;
    color: #FFFFFF;
    border: 0;
}

input:hover {
    background-color: #4CA772;
    color: #FFB425;
}


/*Responsive mode*/


/*Responsive mode*/


/*Responsive mode*/


/*Mobile Screen*/


/*Min width 380px*/


/*Min width 380px*/


/*Min width 380px*/

@media only screen and (min-width: 380px) {
    main {
        width: 80vw;
        height: 85vh;
        padding: 0.1em 2em 0.2em;
        border-radius: 7px;
        margin-top: 4em;
    }
    h1 {
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0;
        font-size: 2em;
    }
    .yellow_line {
        background: #FFB425;
        width: 13em;
        height: 0.5em;
        margin: 30px 0 15px;
    }
    p {
        font-size: 0.9em;
        font-weight: 400;
        line-height: 25px;
    }
    .first,
    .second {
        margin-bottom: 30px;
    }
    .third {
        margin-bottom: 13px;
    }
    input {
        font-size: 1em;
        padding: 1em;
        font-weight: 700;
    }
}


/*Min width 500px*/


/*Min width 500px*/


/*Min width 500px*/

@media only screen and (min-width: 500px) {
    main {
        width: 80vw;
        height: 85vh;
        padding: 0.1em 2em 0.2em;
        border-radius: 7px;
        margin-top: 4em;
    }
    h1 {
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0;
        font-size: 1.7em;
    }
    .yellow_line {
        width: 10em;
        height: 0.4em;
        margin: 20px 0 10px;
    }
    p {
        font-size: 0.8em;
        font-weight: 400;
        line-height: 25px;
    }
    .first,
    .second {
        margin-bottom: 13px;
    }
    .third {
        margin-bottom: 7px;
    }
    input {
        font-size: 0.9em;
        padding: 1em;
        font-weight: 700;
    }
}


/*Min width 700px*/


/*Min width 700px*/


/*Min width 700px*/

@media only screen and (min-width: 700px) {
    main {
        width: 80vw;
        height: 85vh;
        border-radius: 7px;
        margin-top: 4em;
    }
    h1 {
        font-weight: 600;
        letter-spacing: 0.03em;
        font-size: 2em;
    }
    .yellow_line {
        width: 13em;
        height: 0.4em;
        margin: 30px 0 15px;
    }
    p {
        font-size: 1em;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        font-style: normal;
    }
    .first,
    .second {
        margin-bottom: 20px;
    }
    .third {
        margin-bottom: 13px;
    }
    input {
        width: 60%;
        font-size: 1.1em;
        padding: 1em;
        font-weight: 700;
    }
}


/*Min width 1000px*/


/*Min width 1000px*/


/*Min width 1000px*/

@media only screen and (min-width: 1000px) {
    main {
        width: 85vw;
        height: 75vh;
        padding: 0.1em 5em 0.2em;
        margin-top: 5em;
    }
    h1 {
        font-weight: 700;
        font-size: 2em;
    }
    .yellow_line {
        width: 13em;
        height: 0.4em;
        margin: 35px 0 10px;
    }
    p {
        font-size: 1em;
        font-weight: 400;
    }
    .first,
    .second {
        margin-bottom: 30px;
    }
    .third {
        margin-bottom: 15px;
    }
    input {
        width: 60%;
        font-size: 1em;
    }
}