 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(images/background.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
     font-family: 'Poppins', sans-serif;
     color: #FFFFFF;
 }
 
 main {
     background: rgba(25, 220, 106, 0.45);
     position: absolute;
     width: 60em;
     height: 30em;
     left: 13em;
     top: 5em;
     padding: 0.1em 7em 0.3em;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 h1 {
     font-weight: 600;
     text-align: center;
     letter-spacing: 0.03em;
     margin: 0;
     padding: 0;
     margin-top: -10px;
 }
 
 .yellow_line {
     background: #FFB425;
     width: 13em;
     height: 0.5em;
     margin: 30px 0 15px;
 }
 
 p {
     font-size: 16px;
     font-weight: 400;
     line-height: 25px;
     text-align: center;
     font-style: normal;
 }
 
 .first,
 .second {
     margin-bottom: 30px;
 }
 
 .third {
     margin-bottom: 20px;
 }
 
 input {
     width: 35%;
     margin-left: 32.5%;
     margin-right: 32.5%;
     background-color: #4CA772;
     font-size: 1.1em;
     padding: 1em;
     font-weight: 700;
     border-radius: 10px;
     color: #FFFFFF;
     border: 0;
 }
 
 input:hover {
     background-color: #4CA772;
     color: #FFB425;
 }